.photo {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
    
}

.toggleClass {
    opacity: .5;
}

.showDesc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: ivory;
    font-family: fantasy;
    font-size: 40px;
    
}

.newPic {
    position: relative;
    overflow-wrap: break-word;
    
}

.listDiv {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    order: 3
}

button {
    color: #000000;
    background: aquamarine;
    margin: auto 7px;
}

.likesCounter {
    color: ivory;
    font-family: fantasy;
    font-size: 20px;
}

.noOneLikes {
    color: crimson;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}